<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
    <property name="severity" value="warning"/>

    <module name="Header">
        <property name="headerFile" value="${headerFile}"/>
        <property name="ignoreLines" value="4"/>
        <property name="fileExtensions" value="kt"/>
    </module>
</module>
